# SVM classes ERP Environment Variables
MONGODB_URI=mongodb://127.0.0.1:27017/svm-classes-erp
APP_URL=http://localhost:3000
VITE_API_TARGET=http://127.0.0.1:3000
JWT_SECRET=super-secret-key-change-this-in-production
NODE_ENV=development
PORT=3000
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
CLOUDINARY_FOLDER=svm-erp/students
